@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script type="text/javascript">
		setTimeout(function () {
			location.reload();
		}, 1);
	</script>

	<h3 style="text-align:center">PC Model: @VideoPlayer_MVC.C_SHARP.MODELS.MonitorResult?.ModelPC</h3>
	<h3 style="text-align:center">Server Uživatel: @VideoPlayer_MVC.C_SHARP.MODELS.MonitorResult?.Uživatel</h3>
	<h3 style="text-align:center">CPU: @VideoPlayer_MVC.C_SHARP.MODELS.MonitorResult?.CPU</h3>
	<h3 style="text-align:center">Memory swap: @VideoPlayer_MVC.C_SHARP.MODELS.MonitorResult?.MemorySwapFileString</h3>
	<h3 style="text-align:center">Disk Write and Read: @VideoPlayer_MVC.C_SHARP.MODELS.MonitorResult?.DiskWriteRead</h3>
	<h3 style="text-align:center">Net: @VideoPlayer_MVC.C_SHARP.MODELS.MonitorResult?.NetSenteceived</h3>
